@reference "./index.css";

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.1rem;
  /* border-bottom: 1px solid var(--mediumPink); */

  background-color: var(--lightPink);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 1px 5px var(--shadow);

  @media (min-width: 1024px) {
    padding: 1.5rem;
    padding-inline: 2rem;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  @media (min-width: 1024px) {
    padding: 6rem;
    padding-inline: 16rem;
  }
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (min-width: 1024px) {
    padding-inline: 10rem;
  }
}

.searchBar {
  background-color: var(--lightPurple);
  border: 1px solid var(--darkPurple);
  border-radius: 16px;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  padding: 0.5rem;
  padding-inline: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 1rem;
}

.searchBar:focus-within {
  box-shadow: 0 0 0 1px var(--darkPurple);
}

.subjectCard {
  background-color: var(--lightPurple);
  border: 1px solid var(--darkPurple);
  border-radius: 16px;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  padding: 3rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }

  @media (min-width: 768px) {
    padding: 5rem;
  }
}

.category {
  background-color: var(--lightPink);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0.2rem;
  padding-inline: 0.8rem;
  box-shadow: 0 1px 5px var(--shadow);
  align-self: flex-start;
  border: 1px solid var(--mediumPink);

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--mediumPink);
  }

  &.active {
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--mediumPink);
  }
}

.buttonBig {
  background-color: var(--lightPurple);
  border-radius: 10px;
  box-shadow: 0 1px 5px var(--shadow);
  box-sizing: border-box;
  padding:  1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 2px 4px 7px var(--shadow2);
  }
}

.backButton {
  display: flex;
  flex-direction: column;
  align-items: right;
  color: var(--text2);

  &:hover {
    cursor: pointer;
    color: var(--text);
  }
}

.container {
  background-color: var(--lighterGreen);
  border-radius: 30px;
  box-sizing: border-box;
  padding: 4rem;
  box-shadow: 0 1px 5px var(--shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (min-width: 768p) {
    padding: 5rem;
  }
}

.container2 {
  background-color: var(--lightYellow);
  border: 1px solid var(--darkYellow);
  border-radius: 16px;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  @media (min-width: 768p) {
    padding: 3rem;
  }
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 3rem;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @media(min-width: 1024px) {
    flex: 1 1 (calc(33.333% - 2rem));
  }
}

.teamMembers > div {
  flex: 1 1 100%;
  max-width: 500px;
}

/* search bar */
input {
  color: var(--text);
}

input::placeholder {
}

/* search bar (when clicked) */
input:focus {
  outline: none;
}